<% layout("/layouts/boilerplate") %>
<body>
    <h1>Edit your list</h1>
    <form method="post" action="/listings/<%= newlist1._id %>?_method=PUT" class="needs-validation"  novalidate  enctype="multipart/form-data">
        

        <div class="row mt-3">
            <div class="col-8  offset-2">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" value="<%= newlist1.title  %>"  class="form-control" >
                    <div class="invalid-feedback">
                        Please enter a title.
                      </div>
                </div>
              
               
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" name="listing[description]"  class="form-control"  >  <%= newlist1.description %> </textarea>
                     <div class="invalid-feedback">
                    Please enter the short discrition.
                  </div>
                </div>
                
                  <div class="mb-3">
                             Original Listing image <br>
                             <img src="<%= originalimageurl %>" alt="">
                  </div>




                <div class="mb-3">
                    <label for="image" class="form-label">upload new image</label>
                    
                         <input type="file" name="listing[image]" class="form-control">
                </div>
                
               <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" name="listing[price]" value="<%= newlist1.price %>"  class="form-control">
                    <div class="invalid-feedback">
                        Price should be valid.
                      </div>
                </div>
                <div class="mb-3  col-md-8">
                   <label for="country" class="form-label">Country</label>
                   <input type="text"name="listing[country]" value="<%= newlist1.country %>"   class="form-control">
                   <div class="invalid-feedback">
                    country name should be valid.
                  </div>
                </div>
               </div>
                
                
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]"value="<%= newlist1.location %>"  class="form-control">
                    <div class="invalid-feedback">
                        location should be valid.
                       </div>
                </div>
               
                
                <button class="btn btn-dark" style="background-color: #fe424d ; border: none !important;">Edit</button>
        
        
            </div>
        </div>
        <br>

    </form>
  
</body>